[include plr.cfg]
[include mainsail.cfg]
[include steppers/steppers_include.cfg]
[include timelapse.cfg]
[include print_macros.cfg]
[include KAMP_Settings.cfg]
[include toolchanger/configs/toolchanger-include.cfg]
[include calibration_tools/calib-include.cfg]
[include leds/leds-include.cfg]
[include HEXA.cfg]

#[gcode_button ESTOP_BUTTON]
#pin: ^!PF0
#press_gcode:  
#    {action_emergency_stop("Impending Doom Averted!")}

[save_variables]
filename: ~/printer_data/config/variables.cfg

[input_shaper]

[rounded_path]
resolution: 0.2
replace_g0: False

[exclude_object]

[virtual_sdcard]
path: /home/pi/printer_data/gcodes

[display_status]

[pause_resume]

[force_move]
enable_force_move: True

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_090030000551313433343333-if00

[mcu CM5]
serial: /tmp/klipper_host_mcu

[temperature_sensor chamber_actual]
sensor_type: Generic 3950
sensor_pin: PC5

[temperature_sensor CM4]
sensor_type: temperature_host

[temperature_sensor Manta_M8P]
sensor_type: temperature_mcu
sensor_mcu: mcu

[shaketune]

#####################################################################
# 	Printer Physics
#####################################################################

[printer]
kinematics: corexy
max_velocity: 800 #800 #400  
max_accel: 25000 #30000 #4000    			
max_z_velocity: 220 #40			
max_z_accel: 600 #100
square_corner_velocity: 5.0

[resonance_tester]
accel_chip: adxl345 T0
probe_points: 175,175,20
sweeping_accel: 400
sweeping_period: 0

[idle_timeout]
timeout: 3600 #Time in seconds 3600 = 1 hour

[bed_mesh]
speed: 500
horizontal_move_z: 4
mesh_min: 40, 40
mesh_max: 310,310
probe_count: 6, 6
algorithm: lagrange
mesh_pps: 4, 4

[auto_speed]
axis: diag_x, diag_y  ; One or multiple of `x`, `y`, `diag_x`, `diag_y`, `z`

margin: 20            ; How far away from your axes to perform movements

settling_home: 1      ; Perform settling home before starting Auto Speed
max_missed: 5.0       ; Maximum full steps that can be missed
endstop_samples: 2    ; How many endstop samples to take for endstop variance

accel_min: 17000.0     ; Minimum acceleration test may try
accel_max: 50000.0    ; Maximum acceleration test may try
accel_accu: 0.05      ; Keep binary searching until the result is within this percentage

velocity_min: 700.0    ; Minimum velocity test may try
velocity_max: 5000.0  ; Maximum velocity test may try
velocity_accu: 0.05   ; Keep binary searching until the result is within this percentage

derate: 0.8           ; Derate discovered results by this amount

validate_margin: 20      ; Margin for VALIDATE, Defaults to margin
validate_inner_margin: 20.0 ; Margin for VALIDATE inner pattern
validate_iterations: 10     ; Perform VALIDATE pattern this many times

#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################

[quad_gantry_level]

##  Gantry Corners for 350mm Build
##  Uncomment for 350mm build
gantry_corners:
   -60,-10
   410,420
##  Probe points
points:
   50,25
   50,275
   300,275
   300,25

#gantry_corners:
#   -70,0 #-60,-10
#   410,410 #410,420

#points: #  Probe points
#   20,20
#   20,310
#   320,310
#   320,10

speed: 200
horizontal_move_z: 4
retries: 7
retry_tolerance: 0.015
max_adjust: 15

#####################################################################
#   Fan
#####################################################################

#[fan]
#pin: PF8
#max_power: 1
#shutdown_speed: 0
#cycle_time: 0.01
#hardware_pwm: False
#kick_start_time: 0.150
#off_below: 0.05

## EBB Fan 1 - Print Cooling Fan
#[fan]
#pin: et0: PA1
#kick_start_time: 0.5
#off_below: 0.10

## EBB Fan 2 - Hotend Fan
#[heater_fan hotend_fan]
#pin: et0: PA0
#max_power: 1.0
#fan_speed: 1.0
#kick_start_time: 0.5
#heater: extruder
#heater_temp: 50.0

[multi_pin My_Many_Fans]
pins: PF7, PA0
#   A comma separated list of pins associated with this alias. This
#   parameter must be provided.

## Heated Chamber Fan
[heater_fan chamber_fan]
pin=multi_pin:My_Many_Fans #pin: PF7
max_power: 1.0
fan_speed: 0.9
kick_start_time: 0.5
heater: chamber
heater_temp: 75.0
shutdown_speed = 0

##[fan_generic soc-fan]
#pin: host:gpio79  #CB1
#pin: host:gpio26  #CM4

## Fan0
#[fan]
#pin: PF7

## Fan 1 - Mainboards And Stepper Cooling
[controller_fan controllerFan0]
pin: PF9
max_power: 0.5
fan_speed: 1
kick_start_time: 0
stepper: stepper_z
stepper: stepper_x

## Fan 2 - Mainboards And Stepper Cooling
[controller_fan controllerFan1]
pin: PF6
max_power: 0.5
fan_speed: 1
kick_start_time: 0
stepper: stepper_x

## Fan 3 - Mainboards And Stepper Cooling
[controller_fan controllerFan2]
pin: PF8
max_power: 1.0
fan_speed: 1
kick_start_time: 1
stepper: stepper_x

## Fan3
#[heater_fan fan3]
#pin: PF8

## Fan4
#[heater_fan fan4]
#pin: PA4

## Fan5
#[heater_fan fan5]
#pin: PA6
#tachometer_pin: PC2

## Fan6
#[heater_fan fan6]
#pin: PA2
#tachometer_pin: PC1

#####################################################################
#   Heaters
#####################################################################

[heater_bed]
heater_pin: PA1
sensor_pin: PB1
sensor_type: ATC Semitec 104GT-2
min_temp: 0
max_temp: 135
control = pid
pid_kp=36.110
pid_ki=1.330
pid_kd=245.096

[heater_generic chamber]
heater_pin: PA5
sensor_type: Generic 3950
sensor_pin: PB0
control = pid
pid_Kp=7.889
pid_Ki=1.315
pid_Kd=11.834

max_power: 0.75
min_temp: 0
max_temp: 130

[verify_heater chamber]
max_error: 900
check_gain_time: 900
hysteresis: 5
heating_gain: 1

#####################################################################
#   LED Control
#####################################################################

## Chamber Lighting - HE2 Connector
[output_pin caselight]
pin: PA3
pwm:true
shutdown_value: 0
value:1
cycle_time: 0.01

#####################################################################
# EXP1 / EXP2 (display) pins
#####################################################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE7, EXP1_2=PG1,
    EXP1_3=PG0, EXP1_4=PF15,
    EXP1_5=PF14, EXP1_6=PF13,    # Slot in the socket on this side
    EXP1_7=PF12, EXP1_8=PF11,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PE13, EXP2_2=PE12,
    EXP2_3=PE15, EXP2_4=PE11,
    EXP2_5=PE10, EXP2_6=PE14,      # Slot in the socket on this side
    EXP2_7=PE8, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<NC>

#--------------------------------------------------------------------

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.151631, -0.116631, -0.119131, -0.109131, -0.129131, -0.110381
#*# 	  -0.079131, -0.082881, -0.071631, -0.067881, -0.064131, -0.070381
#*# 	  -0.086631, -0.070381, -0.069131, -0.065381, -0.072881, -0.056631
#*# 	  -0.157881, -0.155381, -0.120381, -0.127881, -0.125381, -0.114131
#*# 	  -0.199131, -0.207881, -0.180381, -0.197881, -0.204131, -0.196631
#*# 	  -0.211631, -0.212881, -0.210381, -0.227881, -0.234131, -0.196631
#*# x_count = 6
#*# y_count = 6
#*# mesh_x_pps = 4
#*# mesh_y_pps = 4
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 40.0
#*# max_x = 310.0
#*# min_y = 40.0
#*# max_y = 310.0
#*#
#*# [chamber_heater]
#*# control = pid
#*# pid_kp = 7.889
#*# pid_ki = 1.315
#*# pid_kd = 11.834
#*#
#*# [heater_generic chamber]
#*# z_offset = -0.650
